/*
.container{
    
    height: 100%;
    width:auto;
    
}
*/

img {
  max-width: 100%;
}



/*
#coffee{
    
    background-image: url("lemon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

*/

header nav {
  background-color: black;
  background-size: cover;
  padding-bottom: 3px;
  color: white;
  width: 100%;
  height: 100%;
}

header nav ul {
  list-style: none;

  display: flex;

  justify-content: space-around;
}

div {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list1 {
  text-align: center;
}

.btn {
  display: flex;
  font-size: 15px;
  width: 150px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border-radius: 30px;
}

.text {
  color: white;
  display: flex;
}

main {
  background-color: antiquewhite;
  margin-bottom: 25px;
}

@font-face {
  font-family: "cursive";
  src: url(Poppins-Italic.ttf);
}

@font-face {
  font-family: "sive";
  src: url(Poppins-Black.ttf);
}

.container {
  font-size: 20px;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: green;
}

p {
  padding-top: 20px;
  margin: 25px;
  font-family: "cursive";
}

h1 {
  font-family: "sive";
  text-align: center;
}

h2 {
  font-family: "sive";
}

img {
  max-width: 50px;
  float: right;
  padding-right: 25px;
}

.footer {
  max-width: 50%;
}
/*
.right{
    max-width: 50%;
    height: 50%;
    float: right;
}
*/

.balance {
  height: 50%;
  width: 50%;
  padding: 10px;
  margin: auto;
}

.center {
  text-align: center;
}
